.emaillist{
  position: absolute;
  top: 0;
  left: 0;

}
#inex{

  overflow-y: scroll;
}
#emailShow{
  background-color: rgb(198, 192, 192);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
